.mimi{
    width: 400px;
    height: 500px;
    background-color: bisque;
    padding-left:90px ;
    padding-right:20px ;
    padding-top: 50px ;
    padding-bottom:80px ;
}

P{
    color: brown;
}