h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

p{
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}

.p1{
    font-family: 'Courgette', cursive;
}