.box1{
    width: 600px;
    height: 400px;
    background-color: green;
    position: relative;
}

.box2{
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.name{
    border: 2px solid black;
    margin-top: 10px;
    width: 400px;
    background-color: darkslategrey;
    color: beige;
    position: sticky;
    top:0 ;
}

p{
    padding-bottom: 900px;
}


.name2{
    position:fixed;
    bottom: 0;
    right: 0;
    background-color: greenyellow;

}