.i1{
    width: 500px;
    float: left;
}


img{
    width: 300px;
    float: left;
}
.mim{
    clear: left;
}




div{
    float: left;
}

.box1{
    width: 200px;
    height: 200px;
    background-color: black;
}

.box2{
    width: 200px;
    height: 200px;
    background-color: red;
}

.box3{
    width: 200px;
    height: 200px;
    background-color: green;
}

.box4{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.box5{
    width: 200px;
    height: 200px;
    background-color: yellow;
}