h1{
    text-align: center;
}

.box{
    height: 400px;
    width: 400px;
    background-color: brown;
    color: bisque;
    margin: 100px auto ;
    position: relative;
    transform: translatex(200px);
}

.box h3{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;


}