.box{

    
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    margin: 100px auto;
    position: relative;

    /*
    animation-name: square;
    animation-duration: 4s;
    animation-timing-function:linear ;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-fill-mode:backwards ;
    animation-play-state: running;
    */
    
    animation: square 4s linear 2s infinite alternate backwards running ;
   
}


@keyframes square{
    /* 
    frome{background-color: blanchedalmond;}
    to{background-color: brown;}
    */

    0%{
        background-color: red;
        left: 0;
        right:0;
    }
    25%{
        background-color: orange;
        left: 500px;
        right: 0px;
    }
    50%{
        background-color: pink;
        left: 0px;
        right: 500px;

    }
    75%{
        background-color: yellow;
        left: 0px;
        right: 500px;
    }
    100%{
        background-color: yellowgreen;
        left: 0px;
        right: 0px;
        border-radius: 100px;

    }
}