.flexbox{
    background-color: aqua;
    font-size: 35px;
    display: flex;
    /*
    flex-wrap: wrap;
    flex-direction: row;
    */
    flex-flow: wrap row;
    justify-content: flex-start;
    height: 400px;
    align-items: center;
} 


.flexbox>div{
    background-color: gray;
    margin: 5px;
    padding: 5px;
    width: 100px;
}

.flexbox>div:nth-child(5){
    order: 1;
}
